/* pages/we/we.wxss */
page{
    background-color: #ccc;
    
}
.we{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50rpx;
    
    .me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar{
            width: 130rpx;
            height: 130rpx;
        }
        .name{
            margin-top: 10rpx;
            background-color: #fff;
            font-size: 30rpx;
        }
    }
    .love{
        width: 130rpx;
        height: 130rpx;
        margin: 5rpx 20rpx;
    }
    .lover{
      .mylove{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar{
            width: 130rpx;
            height: 130rpx;
        }
        .name{
            margin-top: 10rpx;
            background-color: #fff;
            font-size: 30rpx;
        }
       }
    }
    
}